* {
  box-sizing: border-box;
}

:root {
  --header-footer-bg: #10375c;
  --btn-bg: #2e80ce;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  --height: 60px;
  font-weight: 400;
  font-size: 1.8rem;
  font-family: "Sora", sans-serif;
  line-height: var(--height);
  text-align: center;
  color: #ffffff;

  display: inline-block;
  outline: none;
  /* padding: 0 20px; */
  background: var(--btn-bg);
  border: 1px solid #2e80ce;
  border-radius: 99px;
  height: var(--height);
  min-width: 205px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.section-desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
}

.section-heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--header-footer-bg);
}

/* logo */

.logo {
  display: flex;
  column-gap: 6px;
}

.logo-image {
  width: 30px;
  height: 30px;
  background: var(--btn-bg);
  border-radius: 50%;
  position: relative;
}

.logo-image::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  display: block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
}

.logo-branch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 2px;
  color: #fff;
}

.logo-branch span:first-child {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 0.78;
}

.logo-branch span:last-child {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.12;
}
